.wasurerus
  - @wasurerus.each do |wasureru|
    .wasureru
      .wasureru__delete
        %button
          削除
      .wasureru__edit
        %button
          編集
      .wasureru__name
        = wasureru.name
      .wasureru__span
        = wasureru.span
        日後
      .wasureru__done
        %button
          Done
